:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #a8a8a8;
}
.input-wrap {
  flex-basis: 20%;
}
.input-wrap.name {
  flex-basis: 29%;
}
.input {
  outline: none;
  width: 100%;
}
.name .input {
  border: 0;
  font-size: 18px;
  padding: 5px 10px;
}
.type .input,
.output .input,
.value .input {
  flex-basis: 20%;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px 10px;
}
.value .input {
  text-align: right;
  padding-right: 0;
}
.options {
  flex-basis: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options .title {
  flex-basis: 20%;
}
.options .title h3{
  text-align: center;
}
.options .content {
  flex-basis: 80%;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
}
.option-wrap {
  padding: 7px 0;
  /*border-bottom: 1px solid #a8a8a8;*/
}
.options-header {
  display: flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.options-header .label {
  flex-basis: 75%;
}
.options-header .value {
  flex-basis: 25%;
  text-align: right;
}
.add-option {
  padding: 0;
}
.add-option button {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px;
  background: none;
  color: #cecece;
  font-size: 14px;
  cursor: pointer;
}