<div class="wrapper" [ngClass]="{invisible: invisible}">  
  <div class="input-wrap name">
    <input class="input" type="text" [(ngModel)]="name" placeholder="Etiqueta">
  </div>
  <div class="input-wrap type">
    <select class="input" [(ngModel)]="type">
      <option value="input">Simple</option>
      <option value="textarea">Texto largo</option>
      <option value="select">Opciones</option>
      <option value="checkbox">Comprobación</option>
    </select>
  </div>
  <div class="input-wrap output">
    <select class="input" [(ngModel)]="output">
      <option value="string">Texto</option>
      <option value="number">Número</option>
      <option value="boolean">Booleano</option>
    </select>
  </div>
  <div class="input-wrap value" *ngIf="formType === 'logical'">
    <input class="input" type="number" placeholder="Valor asociado" *ngIf="type !== 'select'">
  </div>
  <div class="input-wrap remove">
    <button class="btn-remove" (click)="removeMe()" *ngIf="fieldsQty > 1">
      <svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
        <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
      </svg>
    </button>
  </div>
  <div class="options" *ngIf="type === 'select'">
    <div class="title">
      <h3>Opciones</h3>
    </div>
    <div class="content">
      <!--<div class="options-wrap">
        <div class="options-header">
          <div class="label">Texto</div>
          <div class="value">Valor asociado</div>
        </div>
      </div>-->
      <div class="option-wrap" *ngFor="let i of options">
        <py-option [fieldType]="type"
                   [localId]="i"
                   [optionsQty]="options.length"
                   (removeClicked)="removeOption($event)"></py-option>
      </div>
      <div class="option-wrap add-option">
        <button (click)="addOption()">Añadir opción</button>
      </div>
    </div>

  </div>
</div>
