<div class="content">
  <h3>
    <input [(ngModel)]="title" placeholder="Nombre del formulario" required>
  </h3>
  <textarea [(ngModel)]="description" placeholder="Instrucciones"></textarea>
  <select [(ngModel)]="type">
    <option value="contact">Contacto</option>
    <option value="logical">Cálculo</option>
  </select>
  <div class="fields">
    <div class="title">
      <h3>Campos</h3>
    </div>
    <div class="content">
      <div class="field-wrap">
        <div class="fields-header">
          <div class="name">Etiqueta</div>
          <div class="type">Tipo de campo</div>
          <div class="output">Tipo de valor</div>
          <div class="value" *ngIf="type === 'logical'">Valor asociado</div>
          <div class="remove"></div>
        </div>
      </div>
      <div class="field-wrap" *ngFor="let i of fields">
        <py-field [formType]='type'
                  [localId]="i"
                  [fieldsQty]="fields.length"
                  (removeClicked)="removeField($event)"></py-field>
      </div>
      <div class="field-wrap">
        <div class="add-field">
          <button (click)='addField()'>Añadir campo</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
